{
  "name": "{{ project_name }}",
  "private": true,
  "version": "0.0.0",
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build": "vite build",
    "preview": "vite preview"
  },
  "dependencies": {
    "@fontsource-variable/geist": "^5.3.0",
    "@fontsource-variable/geist-mono": "^5.3.0",
    "@pipecat-ai/client-js": "^1.13.1"
{%- for transport in transports -%}
{%- if transport.value == 'daily' %},
    "@pipecat-ai/daily-transport": "^1.6.8"
{%- elif transport.value == 'smallwebrtc' %},
    "@pipecat-ai/small-webrtc-transport": "^1.10.7"
{%- elif transport.value == 'websocket' %},
    "@pipecat-ai/websocket-transport": "^1.7.1",
    "protobufjs": "^7.5.7"
{%- endif %}
{%- endfor %}
  },
  "devDependencies": {
    "vite": "^8.0.16"
  }
}
