build~=1.2.2
coverage~=7.8.0
grpcio-tools~=1.71.0
pip-tools~=7.4.1
pre-commit~=4.2.0
pyright~=1.1.397
pytest~=8.3.4
pytest-asyncio~=0.26.0
pytest-aiohttp==1.1.0
ruff~=0.11.1
setuptools~=80.4.0
setuptools_scm~=8.3.0
python-dotenv~=1.1.0
