# Anthropic
ANTHROPIC_API_KEY=...

# AWS
AWS_SECRET_ACCESS_KEY=...
AWS_ACCESS_KEY_ID=...
AWS_REGION=...

# Azure
AZURE_SPEECH_REGION=...
AZURE_SPEECH_API_KEY=...

AZURE_CHATGPT_API_KEY=...
AZURE_CHATGPT_ENDPOINT=https://...
AZURE_CHATGPT_MODEL=...

AZURE_DALLE_API_KEY=...
AZURE_DALLE_ENDPOINT=https://...
AZURE_DALLE_MODEL=...

# Cartesia
CARTESIA_API_KEY=...

# Daily
DAILY_API_KEY=...
DAILY_SAMPLE_ROOM_URL=https://...

# ElevenLabs
ELEVENLABS_API_KEY=...
ELEVENLABS_VOICE_ID=...

# Neuphonic
NEUPHONIC_API_KEY=...

# Fal
FAL_KEY=...

# Fireworks
FIREWORKS_API_KEY=...

# Gladia
GLADIA_API_KEY=...

# LMNT
LMNT_API_KEY=...
LMNT_VOICE_ID=...

# PlayHT
PLAY_HT_USER_ID=...
PLAY_HT_API_KEY=...

# OpenAI
OPENAI_API_KEY=...

# OpenPipe
OPENPIPE_API_KEY=...

# Tavus
TAVUS_API_KEY=...
TAVUS_REPLICA_ID=...
TAVUS_PERSONA_ID=...

# Simli
SIMLI_API_KEY=...
SIMLI_FACE_ID=...

# Krisp
KRISP_MODEL_PATH=...

# DeepSeek
DEEPSEEK_API_KEY=...

# Groq
GROQ_API_KEY=...

# Grok
GROK_API_KEY=...

# Together.ai
TOGETHER_API_KEY=...

# Cerebras
CEREBRAS_API_KEY=...

# Fish Audio
FISH_API_KEY=...

# Assembly AI
ASSEMBLYAI_API_KEY=...

# OpenRouter
OPENROUTER_API_KEY=...

# Piper
PIPER_BASE_URL=...

# Smart turn
LOCAL_SMART_TURN_MODEL_PATH=...
FAL_SMART_TURN_API_KEY=...

# Twilio
TWILIO_ACCOUNT_SID=...
TWILIO_AUTH_TOKEN=...

# MiniMax
MINIMAX_API_KEY=...
MINIMAX_GROUP_ID=...

# Sarvam AI
SARVAM_API_KEY=...

# SambaNova
SAMBANOVA_API_KEY=...

# Sentry
SENTRY_DSN=...
