# Anthropic
ANTHROPIC_API_KEY=...

# Azure
SPEECH_KEY=...
SPEECH_REGION=...

# Daily
DAILY_API_KEY=...
DAILY_SAMPLE_ROOM_URL=https://...

# ElevenLabs
ELEVENLABS_API_KEY=...
ELEVENLABS_VOICE_ID=...

# Fal
FAL_KEY_ID=...
FAL_KEY_SECRET=...

# PlayHT
PLAY_HT_USER_ID=...
PLAY_HT_API_KEY=...

# OpenAI
OPENAI_API_KEY=...
