# Anthropic
ANTHROPIC_API_KEY=...

# Azure
AZURE_SPEECH_REGION=...
AZURE_SPEECH_API_KEY=...

AZURE_CHATGPT_API_KEY=...
AZURE_CHATGPT_ENDPOINT=https://...
AZURE_CHATGPT_MODEL=...

AZURE_DALLE_API_KEY=...
AZURE_DALLE_ENDPOINT=https://...
AZURE_DALLE_MODEL=...

# Daily
DAILY_API_KEY=...
DAILY_SAMPLE_ROOM_URL=https://...

# ElevenLabs
ELEVENLABS_API_KEY=...
ELEVENLABS_VOICE_ID=...

# Fal
FAL_KEY_ID=...
FAL_KEY_SECRET=...

# PlayHT
PLAY_HT_USER_ID=...
PLAY_HT_API_KEY=...

# OpenAI
OPENAI_API_KEY=...
