# AI-COUSTICS
AICOUSTICS_LICENSE_KEY=...

# Anthropic
ANTHROPIC_API_KEY=...

# Assembly AI
ASSEMBLYAI_API_KEY=...

# Async
ASYNCAI_API_KEY=...
ASYNCAI_VOICE_ID=...

# AWS
AWS_SECRET_ACCESS_KEY=...
AWS_ACCESS_KEY_ID=...
AWS_REGION=...

# Azure
AZURE_SPEECH_REGION=...
AZURE_SPEECH_API_KEY=...

AZURE_CHATGPT_API_KEY=...
AZURE_CHATGPT_ENDPOINT=https://...
AZURE_CHATGPT_MODEL=...

AZURE_REALTIME_API_KEY=...
AZURE_REALTIME_BASE_URL=...

AZURE_DALLE_API_KEY=...
AZURE_DALLE_ENDPOINT=https://...
AZURE_DALLE_MODEL=...

# Cartesia
CARTESIA_API_KEY=...
CARTESIA_VOICE_ID=...

# Cerebras
CEREBRAS_API_KEY=...

# Daily
DAILY_API_KEY=...
DAILY_SAMPLE_ROOM_URL=https://...

# Deepgram
DEEPGRAM_API_KEY=...

# DeepSeek
DEEPSEEK_API_KEY=...

# ElevenLabs
ELEVENLABS_API_KEY=...
ELEVENLABS_VOICE_ID=...

# Fal
FAL_KEY=...

# Fireworks
FIREWORKS_API_KEY=...

# Fish Audio
FISH_API_KEY=...

# Gladia
GLADIA_API_KEY=...
GLADIA_REGION=...

# Google
GOOGLE_API_KEY=...
GOOGLE_VERTEX_TEST_CREDENTIALS=...
GOOGLE_CLOUD_PROJECT_ID=...
GOOGLE_CLOUD_LOCATION=...
GOOGLE_TEST_CREDENTIALS=...

# Grok
GROK_API_KEY=...

# Groq
GROQ_API_KEY=...

# Heygen
HEYGEN_API_KEY=...

# Hume
HUME_API_KEY=...
HUME_VOICE_ID=...

# Inworld
INWORLD_API_KEY=...

# Krisp
KRISP_MODEL_PATH=...

# Krisp Viva
KRISP_VIVA_MODEL_PATH=...

# LiveKit
LIVEKIT_API_KEY=...
LIVEKIT_API_SECRET=...

# LMNT
LMNT_API_KEY=...
LMNT_VOICE_ID=...

# MiniMax
MINIMAX_API_KEY=...
MINIMAX_GROUP_ID=...

# Mistral
MISTRAL_API_KEY=...

# Neuphonic
NEUPHONIC_API_KEY=...

# NVIDIA
NVIDIA_API_KEY=...

# OpenAI
OPENAI_API_KEY=...

# OpenPipe
OPENPIPE_API_KEY=...

# OpenRouter
OPENROUTER_API_KEY=...

# Perplexity
PERPLEXITY_API_KEY=...

# Picovoice Koala
KOALA_ACCESS_KEY=...

# Piper
PIPER_BASE_URL=...

# PlayHT
PLAYHT_USER_ID=...
PLAYHT_API_KEY=...

# Plivo
PLIVO_AUTH_ID=...
PLIVO_AUTH_TOKEN=...

# Qwen
QWEN_API_KEY=...

# Rime
RIME_API_KEY=...
RIME_VOICE_ID=...

# SambaNova
SAMBANOVA_API_KEY=...

# Sarvam AI
SARVAM_API_KEY=...

# Sentry
SENTRY_DSN=...

# Simli
SIMLI_API_KEY=...
SIMLI_FACE_ID=...

# Smart turn
LOCAL_SMART_TURN_MODEL_PATH=...
FAL_SMART_TURN_API_KEY=...

# Soniox
SONIOX_API_KEY=...

# Speechmatics
SPEECHMATICS_API_KEY=...

# Tavus
TAVUS_API_KEY=...
TAVUS_REPLICA_ID=...

# Telnyx
TELNYX_API_KEY=...
TELNYX_ACCOUNT_SID=...

# Together.ai
TOGETHER_API_KEY=...

# Twilio
TWILIO_ACCOUNT_SID=...
TWILIO_AUTH_TOKEN=...

# WhatsApp
WHATSAPP_TOKEN=...
WHATSAPP_WEBHOOK_VERIFICATION_TOKEN=...
WHATSAPP_PHONE_NUMBER_ID=...
WHATSAPP_APP_SECRET=...