[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "dailyai"
version = "0.0.3.1"
description = "An open source framework for real-time, multi-modal, conversational AI applications"
license = { text = "BSD 2-Clause License" }
readme = "README.md"
requires-python = ">=3.7"
keywords = ["webrtc", "audio", "video", "ai"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Topic :: Communications :: Conferencing",
    "Topic :: Multimedia :: Sound/Audio",
    "Topic :: Multimedia :: Video",
    "Topic :: Scientific/Engineering :: Artificial Intelligence"
]
dependencies = [
    "aiohttp",
    "anthropic",
    "azure-cognitiveservices-speech",
    "daily-python",
    "fal",
    "faster_whisper",
    "google-cloud-texttospeech",
    "numpy",
    "openai",
    "Pillow",
    "pyht",
    "python-dotenv",
    "typing-extensions",
    "websockets"
]

[project.urls]
Source = "https://github.com/daily-co/daily-ai-sdk"
Website = "https://daily.co"

[tool.setuptools.packages.find]
# All the following settings are optional:
where = ["src"]

[tool.pytest.ini_options]
pythonpath = ["src"]
