DAILY_API_KEY=

# determines which bot file to default to: 'openai', 'gemini', or 'vllm'
BOT_IMPLEMENTATION=openai

# needed for the openai bot pipeline
OPENAI_API_KEY=
ELEVENLABS_API_KEY=

# needed for the gemini live bot pipeline
GOOGLE_API_KEY=

# needed if you modified the API Key for your self-hosted LLM
VLLM_API_KEY=