.container{
    position: relative;
    animation: fadeIn 3s ease;
    transition: all 3s ease-out;
}

.videoTile{
    @apply bg-gray-950;
    width: 760px;
    height: 760px;
    mask-image: url('/alpha-mask.gif');
    mask-size: cover;
    mask-repeat: no-repeat;
    margin:0 auto;
    z-index: 10;
    position: relative;
}

.inactive{
    opacity: 0.7;
    filter:blur(3px);
    transform: scale(0.95)
}

@keyframes fadeIn {
    0% {
        filter: blur(100px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}