DAILY_SAMPLE_ROOM_URL=https://yourdomain.daily.co/yourroom # (optional: for joining the bot to the same room repeatedly for local dev)
DAILY_SAMPLE_ROOM_TOKEN=9c8... # (optional: if your room above requires a token)
DAILY_API_KEY=7df...
OPENAI_API_KEY=sk-PL...
GEMINI_API_KEY=AIza...
ELEVENLABS_API_KEY=aeb...
BOT_IMPLEMENTATION= # Options: 'openai' or 'gemini'