{
  "name": "{{ project_name }}",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "dev": "next dev --turbopack",
    "build": "next build --turbopack",
    "start": "next start",
    "lint": "eslint"
  },
  "dependencies": {
    "@pipecat-ai/client-js": "^1.11.0",
    "@pipecat-ai/client-react": "^1.6.0",
{%- for transport in transports %}
{%- if transport.value == 'daily' %}
    "@pipecat-ai/daily-transport": "^1.6.6",
{%- elif transport.value == 'smallwebrtc' %}
    "@pipecat-ai/small-webrtc-transport": "^1.10.4",
{%- elif transport.value == 'websocket' %}
    "@pipecat-ai/websocket-transport": "^1.6.7",
{%- endif %}
{%- endfor %}
    "@pipecat-ai/voice-ui-kit": "^0.11.0",
    "next": "^16",
    "react": "^19",
    "react-dom": "^19"
  },
  "devDependencies": {
    "@eslint/eslintrc": "^3",
    "@tailwindcss/postcss": "^4",
    "@types/node": "^25",
    "@types/react": "^19",
    "@types/react-dom": "^19",
    "eslint": "^10",
    "eslint-config-next": "^16",
    "tailwindcss": "^4",
    "typescript": "^6"
  }
}