DAILY_API_KEY=
DAILY_SAMPLE_ROOM_URL=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
FAL_KEY=
OPENAI_API_KEY=

ENV= # dev | production
RUN_AS_VM= # Set this if you want to run bots on process (not launch a new VM)