name: format

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
    paths-ignore:
      - "docs/**"

concurrency:
  group: build-format-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ruff-format:
    name: "Formatting checker"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Setup virtual environment
        run: |
          python -m venv .venv
      - name: Install development Python dependencies
        run: |
          source .venv/bin/activate
          python -m pip install --upgrade pip
          pip install -r dev-requirements.txt
      - name: Ruff formatter
        id: ruff
        run: |
          source .venv/bin/activate
          ruff format --diff
