name: tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
    paths-ignore:
      - "docs/**"

concurrency:
  group: build-test-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: "Unit and Integration Tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"

      - name: Set up Python
        run: uv python install 3.12

      - name: Install system packages
        run: |
          sudo apt-get install -y portaudio19-dev

      - name: Install dependencies
        run: |
          uv sync --group dev --extra anthropic --extra aws --extra google --extra langchain

      - name: Test with pytest
        run: |
          uv run pytest
